@using Adventure;
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <a href="/adventurebag" role="button" class="btn btn-dark"><h2>Adventure Bag</h2>
        <img src="~/img/AdventureBagPoor.png"/>
      </a>
        <a href="/stable" role="button" class="btn btn-dark"><h2>Stable</h2>
        <img src="~/img/HorseShop.png"/>
      </a>
        <a href="/noticeboard" role="button" class="btn btn-dark"><h2>Notice Board</h2>
        <img src="~/img/NoticeBoard.jpg"/>
      </a>
        <a href="/greenforce" role="button" class="btn btn-dark"><h2>Greenforce</h2><h2>Deliveries</h2>
        <img src="~/img/Delivery.gif"/>
      </a>
    </div>
  </body>
</html>

@* @if (Model.Count == 0)
{
  <p>You have no items in your to do list!</p>
}
@if(Model.Count != 0)
{
  @foreach (Item item in Model)
  {
    <li>@item.GetDescription()</li>
  }
} *@
@*
</ul>
<a href="/items/new">Add a new item.</a> *@
